

<div class="mdl-grid">


	<div class="mdl-cell mdl-cell--12-col ">

		
		<div class="show-title mdl-cell--4-offset-desktop mdl-cell--2-offset-desktop mdl-cell--1-offset-phone">
			<span> Displaying </span>
			<!-- <mdl-textfield type="number" min="5" step="5" [(ngModel)]="showLimit" class="mdl-js-textfield num-input"></mdl-textfield> -->
			<input type="number" min="5" step="5" [(ngModel)]="showLimit" class=" num-input">
			<span> Latest Entries </span>
		</div>
	</div>



	<div class="mdl-cell mdl-cell--12-col">
		
		<!-- Search -->
		<div>
			<i id="search" class="material-icons">search</i>
			<mdl-textfield #searchBox type="search" label="Search" floating-label 
                   id="filterBy" [value]="filterBy" (keyup)="onKey(searchBox.value)" ></mdl-textfield>
        	<!-- <i id="help" class="material-icons">help</i>
        	<div class="mdl-tooltip" for="help">type pattern or field:pattern. Example: icon:crash</div> -->
        </div>	


	</div>



	<div class="mdl-cell mdl-cell--12-col mdl-cell--order-1">

		<mdl-tabs mdl-ripple [mdl-tab-active-index]="activeTabIndex" (mdl-tab-active-changed)="tabChanged($event)" >


		    <mdl-tab-panel *ngFor="let t of tabTypes" [mdl-tab-panel-title]="t">

				    <div *ngFor="let event of els.dbItemsForDisplay[t] |  async | reverse;  let i = index"  >
				    
				    	<div *ngIf="filter(event, i)">
					    	<app-card [data]=event></app-card>
						</div>		    	

				    </div>


		  	</mdl-tab-panel>


		</mdl-tabs>

	</div>

</div>
