
.num-input {
	width: 70px;
	color: blue;
	font-size: 2.1vh;
	text-align: center;
	background-color: LightGoldenRodYellow;
	border: none !important;
    border-color: transparent !important;
    outline: none;
    }


.show-title{
	font-size: 2.5vh;
}
