<button *ngIf="!auth.authenticated()"
        (click)="auth.login()"
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored login">Login
</button>

<div *ngIf="auth.authenticated() ">

  <button (click)="auth.logout()"
          class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored logout">Logout
  </button>

</div>



