
.mdl-label {

	font-size: 120%;
	font-weight: bold;
	margin-right: 15px;

}


.mdl-radio, .mdl-checkbox, .mdl-switch {
  display: inline;
}


.mdl-radio, .mdl-checkbox {
  margin-left:15px;
}


// just trying to resolve the dattime placeholder 
.mdl-textfield  {

	//font-weight: bold;
	//color: red;

}

