<div class="outer-wrap">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-offset mdl-cell--6-col">

      <h1>Welcome to WayCare's Logbook. Please login </h1>

    </div>
  </div>
</div>
